<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Makale Ekle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="stacked">Başlık</ion-label>
    <ion-input [(ngModel)]="title" placeholder="Makale başlığını girin"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Alt Başlık</ion-label>
    <ion-input [(ngModel)]="subtitle" placeholder="Alt başlığı girin"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Yazar Adı</ion-label>
    <ion-input [(ngModel)]="author" placeholder="Yazar adını girin"></ion-input>
  </ion-item>

 
  <ion-item>
    <ion-label position="stacked">Cinsiyet</ion-label>
    <ion-select [(ngModel)]="gender">
      <ion-select-option value="male">Erkek</ion-select-option>
      <ion-select-option value="female">Kadın</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Kategori</ion-label>
    <ion-select [(ngModel)]="category">
      <ion-select-option value="ion">İonic</ion-select-option>
      <ion-select-option value="flut">Flutter</ion-select-option>
      <ion-select-option value="tek">Teknoloji</ion-select-option>
      <ion-select-option value="art">Sanat</ion-select-option>      
      <ion-select-option value="music">Müzik</ion-select-option>
      <ion-select-option value="food">Yemek</ion-select-option> 
      <ion-select-option value="science">Bilim</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">İçerik</ion-label>
    <ion-textarea [(ngModel)]="content" rows="10" placeholder="Makale içeriğini girin"></ion-textarea>
  </ion-item>

  <div style="padding: 20px; display: flex; justify-content: center;">
  <ion-button style="font-size: 14px; padding: 10px 20px;" (click)="addArticle()">Makale Ekle</ion-button>
</div>

<ion-button style="width: 50%;">Makale Ekle</ion-button>
<ion-button style="float: right;">Giriş Yap</ion-button>
<div style="display: flex; justify-content: flex-end;">
  <ion-button style="width: auto;">Makale Ekle</ion-button>
</div>


</ion-content>