<ion-content style="--background: #ffffff;">
  <div style="padding-top: 20px; display: flex; justify-content: center;">
    <div class="form-container" style="background-color: #ffffff; padding: 20px; margin: 20px; border-radius: 12px; box-shadow: 0 2px 4px #4285f4, 0 2px 10px rgba(0, 0, 0, 0.05); width: 100%; max-width: 600px;">
    
    <ion-item style="--background: #ffffff; --color: #000000;">
      <ion-label position="stacked" style="color: #000000;">{{'ADD.TITLE'| translate}}</ion-label>
      <ion-input [(ngModel)]="title" placeholder="Makale başlığını girin" 
                 style="--color: #2c70de; --placeholder-color: #666666;"></ion-input>
    </ion-item>

    <ion-item style="--background: #ffffff; --color: #000000;">
      <ion-label position="stacked" style="color: #000000;">{{'ADD.SUBTITLE'| translate}}</ion-label>
      <ion-input [(ngModel)]="subtitle" placeholder="Alt başlığı girin"
                 style="--color: #2c70de; --placeholder-color: #666666;"></ion-input>
    </ion-item>

   <ion-item style="--background: #ffffff; --color: #000000;">
      <ion-label position="stacked" style="color: #000000;">{{'ADD.PHOTO_URL'| translate}}</ion-label>
      <ion-input [(ngModel)]="image" placeholder="Görsel URL'sini girin"
                 style="--color: #2c70de; --placeholder-color: #666666;"></ion-input>
    </ion-item>


    <ion-item style="--background: #ffffff; --color: #2c70de;">
      <ion-label position="stacked" style="color: #000000;">{{'ADD.CATEGORY'| translate}}</ion-label>
      <ion-select [(ngModel)]="category" placeholder="Kategori seçiniz"
                  style="--color: #2c70de; --placeholder-color: #666666;">
        <ion-select-option value="ionic">{{'ADD.IONIC'| translate}}</ion-select-option>
      <ion-select-option value="flutter">{{'ADD.FLUTTER'| translate}}</ion-select-option>
      <ion-select-option value="teknoloji">{{'ADD.TECHNOLOGY'| translate}}</ion-select-option>
      <ion-select-option value="sanat">{{'ADD.ART'| translate}}</ion-select-option>
      <ion-select-option value="yemek">{{'ADD.FOOD'| translate}}</ion-select-option>
      <ion-select-option value="bilim">{{'ADD.SCIENCE'| translate}}</ion-select-option>
      <ion-select-option value="müzik">{{'ADD.MUSIC'| translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    

    <ion-item style="--background: #ffffff; --color: #000000;">
      <ion-label position="stacked" style="color: #000000;">{{'ADD.CONTENT' | translate}}</ion-label>
      <ion-textarea [(ngModel)]="content" rows="10" placeholder="Makale içeriğini girin"
                    style="--color: #2c70de; --placeholder-color: #666666;"></ion-textarea>
    </ion-item>

    <div style="padding: 20px; display: flex; justify-content: center; background-color: #ffffff;">
      <ion-button style="font-size: 14px; padding: 10px 20px; --background: #4285f4;" (click)="addArticle()">
{{'ADD.ADD_ARTICLE'|translate}}      </ion-button>
    </div>

    </div>
  </div>
</ion-content>