
<ion-content class="ion-padding">
  <ion-text >
    <p style="color: #333;">Lütfen ilgilendiğiniz alanları seçin.</p>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let interest of interests">
        <ion-button
          expand="block"
          [fill]="interest.selected ? 'solid' : 'outline'"
          (click)="toggleInterest(interest)"
        >
          {{ interest.emoji }} {{ interest.name }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="saveInterests()"
    [disabled]="selectedInterestsCount() === 0"
  >
    Kaydet
  </ion-button>
</ion-content>
