<ion-header>
  <ion-toolbar>
    <ion-title>Makaleyi Düzenle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Kapat</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Başlık</ion-label>
    <ion-input [(ngModel)]="article.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Alt Başlık</ion-label>
    <ion-input [(ngModel)]="article.subtitle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">İçerik</ion-label>
    <ion-textarea [(ngModel)]="article.content" rows="6"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Kategori</ion-label>
    <ion-select [(ngModel)]="article.category" placeholder="Kategori Seçin">
      <ion-select-option value="ionic">Ionic</ion-select-option>
      <ion-select-option value="flutter">Flutter</ion-select-option>
      <ion-select-option value="teknoloji">Teknoloji</ion-select-option>
      <ion-select-option value="sanat">Sanat</ion-select-option>
      <ion-select-option value="yemek">Yemek</ion-select-option>
      <ion-select-option value="bilim">Bilim</ion-select-option>
      <ion-select-option value="müzik">Müzik</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" (click)="updateArticle()" class="ion-margin-top">
    Güncelle
  </ion-button>
</ion-content>
