ion-content {
    --background: #f4f4f4;
  
    ion-item {
      --background: #fff;
      --border-radius: 10px;
      margin-bottom: 15px;
    }
  
    ion-button {
      --border-radius: 10px;
    }
  }
