ion-content {
    --background: #ffffff;
  
    ion-item {
      --background: #346eecb0;
      --border-radius: 10px;
      margin-bottom: 15px;
    }
  
    ion-button {
      --border-radius: 10px;
    }
  }

  .custom-input {
    --color: #000000; /* Metin rengi */
    --placeholder-color: #000000; /* Placeholder rengi */
  }
  