<ion-content class="login-content">
  <div class="login-container">
    <!-- Sol taraf için mavi arka plan -->
    <div class="left-section">
      <div class="left-content">
        <div class="logo">
          <ion-icon name="rocket-outline" size="large"></ion-icon>
        </div>
         <h2>Kayıt Ekranına</h2>
        <h1>Hoş Geldiniz</h1>
      </div>
    </div>

    <!-- Sağ taraf - Beyaz zemin -->
    <div class="right-section">
      <div class="login-form">
        <h2>Hesabınıza Giriş Yapın</h2>

        <form>
          <div class="input-group">
            <ion-input 
              type="text" 
              name="username"
              placeholder="Kullanıcı Adınız" 
              [(ngModel)]="username">
            </ion-input>
          </div>

          <div class="input-group">
            <ion-input 
              type="password" 
              placeholder="Şifreniz" 
              [(ngModel)]="password"
              name="password">
            </ion-input>
          </div>

          <button type="button" class="login-btn" (click)="girisYap()">
            Giriş Yap
          </button>

          <div class="signup-link">
            <span>Hesabınız yok mu? </span>
            <a (click)="kayitOl()">Kayıt Ol</a>
          </div>


        </form>
      </div>
    </div>
  </div>
</ion-content>
